<div class="owners-container">
  <button (click)="onClick()" *ngIf="!viewOwners" class="btn-important">View Owners</button>
  <button *ngIf="viewOwners" (click)="onClick()" class="btn-advice">Hide Owners</button>

  <div *ngIf="viewOwners">
    <mat-card class="mtc-owner" *ngFor="let owner of owners">
      <mat-card-content>
        <div>
          <p><b>Owner: </b>{{owner.names}}</p>
          <p><b>Identity Card: </b>{{owner.identity_card}}</p>
          <button (click)="handlerDelete(owner.identity_card)" class="btn-advice">
            Delete
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <button *ngIf="!addingOwner" (click)="handlerAddOwner()" class="btn-important">Add Owner</button>

    <div *ngIf="addingOwner" class="form-container">
      <p class="title">Add Owner</p>

      <form (submit)="onSubmit()" [formGroup]="addOwnerForm" class="form">
        <div class="inputs">
          <div class="input-container">
            <label for="identity_card">Owner ID</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.identity_card.errors }" class="input"
                   formControlName="identity_card" id="identity_card" placeholder="ID" type="text"/>
            <div *ngIf="submitted && f.identity_card.errors" class="invalid-feedback">
              <div *ngIf="f.identity_card.errors.required">Id is required</div>
            </div>
          </div>

          <div class="buttons-container">
            <button [disabled]="loading" class="btn-important">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Add
            </button>
          </div>
        </div>

        <div *ngIf="error" class="error-container"><p class="alert-text">{{error}}</p></div>
      </form>
    </div>
  </div>
</div>
