<div class="clients-container">
  <div *ngIf="!tokenAcces" class="login-container">
    <h4 class="title">Log In</h4>
    <form (submit)="sendCode()" [formGroup]="signInForm">
      <div class="input-container">
        <label for="identity_card">Identity Card</label>
        <input [ngClass]="{ 'is-invalid': submitted && f.identity_card.errors }" class="input"
               formControlName="identity_card" placeholder="Identity card"
               id="identity_card" type="text"/>
        <div *ngIf="submitted && f.identity_card.errors" class="invalid-feedback">
          <div *ngIf="f.identity_card.errors.required">Identity Card is required</div>
        </div>
      </div>

      <div class="buttons-container">
        <button [disabled]="loading" class="btn-important">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Log In
        </button>
        <a (click)="enterCode()" class="btn">Already have a code?</a>
      </div>
      <div *ngIf="error" class="error-container">
        <p class="alert-text">{{error}}</p>
      </div>
    </form>
  </div>


  <div *ngIf="tokenAcces" class="login-container">
    <div class="form-container">
      <h4 class="title">Access Code</h4>
      <p> we have sent a code to your email address, enter the code down below </p>
      <form (submit)="logIn()" [formGroup]="signInForm">
        <div class="input-container">
          <label for="code">Code</label>
          <input [ngClass]="{ 'is-invalid': submitted && f.code.errors }" class="input" formControlName="code"
                 id="code" type="text" placeholder="access token"/>
          <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
            <div *ngIf="f.code.errors.required"> the code is required</div>
          </div>
        </div>

        <div class="buttons-container">
          <button [disabled]="loading" class="btn-important">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Log In
          </button>
        </div>

        <div *ngIf="error" class="error-container">
          <p class="alert-text">{{error}}</p>
        </div>
      </form>
    </div>
  </div>


</div>
