<div class="profile-container">
  <div class="profile-content">
    <div class="profile-header">
      <img alt="Avatar" class="avatar-image" src="assets/images/avatar.png">
      <div class="header-text">
        <p class="name">{{currentUser.names}} {{currentUser.surnames}}</p>
        <p>{{currentUser.email}}</p>
      </div>
    </div>

    <div class="profile-description">
      <p><b>Username: </b>{{currentUser.username}}</p>
      <p><b>Phone number: </b>{{currentUser.phone}}</p>
      <p><b>Role: </b>{{currentUser.role}}</p>
      <p><b>Identity card: </b>{{currentUser.identity_card}}</p>
    </div>
  </div>
</div>
