<div class="client-vehicles-container">
  <h4 class="title"> My Vehicles</h4>

  <div class="vehicles-container">
    <div *ngFor="let vehicle of vehiclesList" class="vehicle">
      <div class="header">
        <fa-icon [icon]="faCar" size="10x"></fa-icon>
      </div>
      <div class="content">
        <p class="plate">#{{vehicle.plate}}</p>
        <p><b>Type: </b> {{vehicle.vehicle_type}}</p>
        <p><b>Brand: </b> {{vehicle.brand}}</p>
        <p><b>Model: </b> {{vehicle.model}}</p>
        <p><b>Color: </b> {{vehicle.color}}</p>
      </div>
      <div class="footer">
        <button class="btn-important" routerLink="/clients/history/{{vehicle.plate}}">View history</button>
      </div>
    </div>
  </div>
</div>
