<div class="navbar-container">
  <header class="header-container">
    <div class="header-image-container">
      <img alt="Brand" class="header-image" src="../../../../assets/images/brand-1.jpeg"/>
    </div>
    <div class="title-container">
      <h1 class="title">Car repair</h1>
    </div>
  </header>

  <div class="navbar-items">
    <div class="navbar-image-container"></div>
    <ul class="links-container">
      <li (click)="activateLink('profile')"
          [ngClass]="{'active-link': activeLink === 'profile'}"
          class="item items-3" routerLink="/employees/profile"
          routerLinkActive="active">Perfil
      </li>

      <li (click)="activateLink('register')"
          [ngClass]="{'active-link': activeLink === 'register'}"
          class="item items-3" routerLink="/employees/register"
          routerLinkActive="active">Registrar
      </li>

      <li (click)="signOut()" class="item items-3">Salir</li>
    </ul>
  </div>
</div>


