<div class="vehicles-container">
  <div class="vehicles-header">
    <p class="title">list of registered vehicles</p>
    <button class="btn-important">
      <fa-icon [icon]="faPlus"></fa-icon>
      Add new vehicle
    </button>
  </div>

  <div class="vehicles-list">
    <div *ngFor="let vehicle of vehiclesList" class="vehicle">
      <div class="vehicle-image">
        <img alt="" src="https://www.goo-net-exchange.com/common/assets/img/common/icon/toyota-allion.jpg">
      </div>
      <div class="vehicle-text">
        <p class="car-brand">{{vehicle.brand}} <span>model {{vehicle.model}}</span></p>
        <p class="vehicle-others"><span>{{vehicle.vehicle_type}}</span> <span>{{vehicle.color}}</span></p>
        <div class="vehicle-footer">
          <button class="btn-important" routerLink="/employees/vehicle/{{vehicle.plate}}">
            <fa-icon [icon]="faEdit"></fa-icon> Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
