@import "mixins";

.cols-1 {
  width: 100%;
  display: flex;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
  }

  .col {
    flex: 100%;
    padding: 0 20px 0 20px;
  }
}

.cols-2 {
  width: 100%;
  display: flex;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
  }

  .col {
    flex: 50%;
    padding: 0 20px 0 20px;
  }
}


.cols-3 {
  width: 100%;
  display: flex;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
  }

  .col {
    flex: 33.33%;
    padding: 0 20px 0 20px;
  }
}
