// ------------------------------------------//
// Colors
// ------------------------------------------//
$grey-color: #607d8b;
$grey-dark-color: #37474f;
$grey-light-color: #b0bec5;

$blue-color: #00aeef;
$blue-color-2: #00a7b8;
$blue-light-color: #98d6f4;
$blue-dark-color: #0E4B66;

$purple-color: #ae3e97;

$orange-color: #f47b29;
$orange-color-2: #F15A24;

$green-color: #00904c;
$green-light-color: #c8e6c9;

$red-color: #F5333F;
$red-light-color: #ffcdd2;



// ------------------------------------------//
// Responsive media queries
// ------------------------------------------//
$desktop-media-query: "(min-width: 1024px)";
$tablet-media-query: "(min-width: 768px) and (max-width: 1023px)";
$phone-media-query: "(min-width: 320px) and (max-width: 767px)";
