<div class="profile-container">
  <div class="profile-content">
    <div class="profile-header">
      <img alt="Avatar" class="avatar-image" src="assets/images/avatar.png">
      <div class="header-text">
        <p class="name">{{currentOwner.names}} {{currentOwner.surnames}}</p>
        <p>{{currentOwner.email}}</p>
      </div>
    </div>

    <div class="profile-description">
      <p><b>Phone number: </b>{{currentOwner.phone}}</p>
      <p><b>Identity card: </b>{{currentOwner.identity_card}}</p>
    </div>
  </div>
</div>
