<div class="navbar-container">
  <header class="header-container">
    <div class="header-image-container">
      <img alt="Brand" class="header-image" src="../../../../assets/images/brand-1.jpeg"/>
    </div>
    <div class="title-container">
      <h1 class="title">Car repair</h1>
    </div>
  </header>

  <div class="navbar-items">
    <div class="navbar-image-container"></div>
    <ul class="links-container">
      <li (click)="activateLink('clients')"
          [ngClass]="{'active-link': activeLink === 'clients'}"
          class="item items-3" routerLink="/clients"
          routerLinkActive="active">Clientes
      </li>

      <li (click)="activateLink('employees')"
          [ngClass]="{'active-link': activeLink === 'employees'}"
          class="item items-3" routerLink="/employees"
          routerLinkActive="active">Empleados
      </li>

      <li (click)="activateLink('about')"
          [ngClass]="{'active-link': activeLink === 'about'}"
          class="item items-3" routerLink="/about"
          routerLinkActive="active">Acerca
      </li>
    </ul>
  </div>
</div>
