<div class="navbar-container">
  <header (click)="activateLink('home')" [ngClass]="{'active-link': activeLink === 'home'}"
          class="header-container" routerLink="/home"
          routerLinkActive="active">
    <img alt="Brand" class="header-image" src="../../../../assets/images/brand-1.jpeg"/>
    <h1 class="title">Car repair</h1>
  </header>

  <ul class="links-container">
    <li (click)="activateLink('clientsAccess')" [ngClass]="{'active-link': activeLink === 'clientsAccess'}"
        class="item items-3"
        routerLink="/clientsAccess" routerLinkActive="active">Clients
    </li>

    <li (click)="activateLink('employees')" [ngClass]="{'active-link': activeLink === 'employees'}"
        class="item items-3" routerLink="/employees" routerLinkActive="active">Employees
    </li>

    <li (click)="activateLink('about')" [ngClass]="{'active-link': activeLink === 'about'}" class="item items-3"
        routerLink="/about" routerLinkActive="active">About us
    </li>
  </ul>
</div>
