<div class="history-container">
  <h4 class="title">Vehicle History</h4>

  <div class="items-container">
    <div *ngFor="let item of history" class="item">
      <p>State: <b></b> {{item.state}}</p>
      <p>DEscription: <b></b> {{item.description}}</p>
      <p>Cost: <b></b> {{item.cost}}</p>
      <p>Created at: <b></b> {{item.created_at}}</p>
      <p>Modified at: <b></b> {{item.last_modified}}</p>
      <p>Spare parts: <b></b>
        <span *ngFor="let part of item.spare_parts">{{part}}</span>
      </p>
    </div>
  </div>
</div>
